{% extends 'base.html' %}
{% block og_tags %}
<meta property="og:image" content="{{ request.scheme }}://{{ request.get_host }}{{ first_article.generated_image.url }}" />
{% endblock %}
{% block title %}- Articles{% endblock %}
{% block content %}
<div class="articles-container">
    {% for article in articles %}
    <div class="article">
        <h2>{{ article.generated_title }}</h2>
        <div class="article-content">
            <img src="{{ article.generated_image.url }}" alt="{{ article.generated_title }}">
            {{ article.generated_text|linebreaks }}
            
            <a href="{{ article.original_article.url }}" target="_blank" rel="noopener noreferrer">
                Read the original article here
            </a>
            <br>
            <a href="{% url 'article_detail' article.pk %}" target="_blank">View Full Article</a>
            <br>
            <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.scheme }}://{{ request.get_host }}{% url 'article_detail' article.pk %}" 
            target="_blank" 
            rel="noopener noreferrer">
                Share this article on Facebook
            </a>

        </div>        
        <hr>
    </div>
    {% endfor %}
    {% if articles.has_previous %}
        <a href="?page=1">&laquo; First</a>
        <a href="?page={{ articles.previous_page_number }}">Previous</a>
    {% endif %}

    <span class="current-page">
        Page {{ articles.number }} of {{ articles.paginator.num_pages }}.
    </span>

    {% if articles.has_next %}
        <a href="?page={{ articles.next_page_number }}">Next</a>
        <a href="?page={{ articles.paginator.num_pages }}">Last &raquo;</a>
    {% endif %}

</div>

<style>


.article h2 {
    color: #333;
    font-weight: bold;
}

.article-content {
    margin-top: 10px;
    color: #555;
    font-size: 16px;
}

.article-content img {
        display: block;
        margin: 0 auto;
        max-width: 100%;
    }
</style>
{% endblock %}
